; zzwrap
; page keys (wrap_static bucket `page`)
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/zzwrap
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
;

[access]
description = "Access details for page"
list = 1
default_action = add_no_merge
example[] = 'field_id:field_value'
example[] = 'event_id:234+tournament_id:33'

[breadcrumb_placeholder]
description = "Breadcrumb segments by placeholder scripts"
list = 1
default_action = add_no_merge
example[] = '["title" => "Test page", "url_path" => "/test/", "extra_breadcrumb" => 1]'

[http_status]
description = "HTTP status stored when handling an error response (4xx, 5xx)"
type = int

[prev]
description = "Sequential navigation: previous webpage"
list = 1
example[] = '["title" => "Previous page title", "url" => "/events/2024/", "rel_title" => "Previous page"]'

[next]
description = "Sequential navigation: next webpage"
list = 1
example[] = '["title" => "Next page title", "url" => "/events/2026/", "rel_title" => "Next page"]'

[up]
description = "Sequential navigation: overview / first page in sequence"
list = 1
example[] = '["title" => "Overview title", "url" => "/events/", "rel_title" => "Overview"]'
