; zzwrap
; routes
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/zzwrap
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0

[change_password]
description = "Change password"
brick = "forms my-password"
group = read

[jobmanager]
description = "Job manager"
brick = "make jobmanager"
group[] = admin
group[] = localhost

[login]
description = "User login"
brick = "request login"
group = public

[login_entry]
description = "Page you are redirected to after successful login"
match_parameters = 1
group = public
default = "/"

[home]
description = "Homepage / start page (might be on different server)"
match_parameters = 1
group = public
default = "/"

[logout]
description = "User logout"
brick = "request logout"
group = public
